---
import Logo from '@/components/icons/Logo.astro'
import Navigation from '@/components/Navigation.astro'
---

<header class="fixed px-4 z-10 flex items-center justify-between w-full">
  <div class="flex items-center justify-between w-full py-4 md:max-w-[1200px] mx-auto flex-row">
    <!-- title -->
    <div>
      <a href="/" class="flex items-center text-palette-default">
        <!-- <Midudev className="size-[34px] lg:size-[42px]" /> -->
        <Logo class="size-[34px] lg:size-[42px]" />
      </a>
      <!-- <p>Jeral Pineda</p> -->
    </div>

    <Navigation />
  </div>
</header>
