---
const navItems = [
  {
    title: 'Experiencia',
    label: 'experiencia',
    url: '/#experiencia',
  },
  {
    title: 'Proyectos',
    label: 'proyectos',
    url: '/#proyectos',
  },
]
---

<nav class="">
  <ul class="flex items-center gap-5">
    {
      navItems.map((item, index) => (
        <li>
          <a href={item.url} class="text-text hover:text-text/80">
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
