---
import Analytics from '@vercel/analytics/astro'
import "@/styles/global.css";
---

<!doctype html>
<html lang="es" class="bg-light dark:bg-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jeral Pineda</title>
    <Analytics />
  </head>
  <body>
   
  <div class="relative h-full w-full bg-light dark:bg-dark">
    <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#9f9f9f2e_0.3px,transparent_0.3px),linear-gradient(to_bottom,#9f9f9f2e_0.3px,transparent_0.3px)] dark:bg-[linear-gradient(to_right,#5e5d5d2e_0.3px,transparent_0.3px),linear-gradient(to_bottom,#5e5d5d2e_0.3px,transparent_0.3px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div>
    <slot />
  </div>
    
  </body>
</html>



<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    /* color: #ffffff */
  
  }

  :root {
    --background-color: #fafaf9;
    --text-color: #262626;
  }

  html.theme-dark {
    --background-color: #1c1a1d;
    --text-color: #deddde;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
  }

  
</style>
